.app__main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.topRated{
    font-size: 40px;
    margin-top: 200px;
}