.wrapDark,.wrapLight{
    margin-top: 70px;
    display: flex;
    color: white;


    justify-content: flex-start;
}

.wrapDark{
    background: #575b5d;
}

.wrapLight{
    background: #848a8d;
}



.title{
    font-size: 40px;
}

.overview p {
    font-size: 22px;
}

.data{
    margin-top: 80px;
    width: 50%;

}

.data div {
    margin:10px;
    background: #404142;

    transition: 100ms;
    padding: 5px;
}

.data img {
    border-radius: 10px;
    padding: 20px;

    box-sizing: border-box;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlePoster{
    width: 40%;
    margin: 20px 30px 20px 30px;
}

.titlePoster img {
    border-radius: 10px;
}


.infoPageLight, .infoPageDark{
    width: 100%;
}


.infoPageDark{
    background: linear-gradient(90deg, rgba(63,65,66,1) 0%, rgba(74,77,78,1) 50%, rgb(70, 73, 75) 100%);
}


.infoPageLight{
    background: linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(246, 246, 246) 50%, rgb(238, 238, 238) 100%);
}


.data div:hover {
    background: #848a8d;
}

.recommend{
    font-size: 34px;
    margin: 20px;
    color: orange;

    display: flex;
    justify-items: center;
    align-items: center;
}

.recommend svg{
    width: 50px;
    font-size: 50px;
}

a{
    text-decoration: none;
}

.plane{
    display: flex;
    justify-content: space-between;
}

.reviews{
    font-size: 34px;
    margin: 20px;
    color: orange;

    display: flex;
    justify-items: center;
    align-items: center;
}

.reviews svg{
    width: 50px;
    font-size: 50px;
}

.down{
    transform: rotateZ(90deg);
}
