body{
    margin: 0;
}

.headerDark,.headerLight{
    width: 100%;

    justify-items: center;
    justify-content: space-between;

    display: flex;
    color: snow;
    padding: 20px;
    font-size: 20px;

    flex-direction: row;

    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 100;
}

.headerDark{
    background: rgb(63,65,66);
    background: linear-gradient(90deg, rgba(63,65,66,1) 0%, rgba(74,77,78,1) 50%, rgb(70, 73, 75) 100%);
}

.headerLight{
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(241, 241, 241) 0%, rgb(245, 245, 245) 50%, rgb(239, 239, 239) 100%);
    color: black;
}


.headerLight a{
    color: black;
}

.headerDark a{
    color: snow;
}



.link{
    width: 50%;
}

.link a{
    margin: 10px;
    text-decoration: none;
    transition: color 500ms;


}

.link a:hover{
    color: orange;
}

.headerDark .link a[class='active']{
    border-bottom: 2px white solid;
    transition: color 500ms;
}

.headerLight .link a[class='active']{
    border-bottom: 2px #000000 solid;
    transition: color 500ms;
}
