body{
    margin: 0;
}


.header{
    background: #3f4142;
    justify-items: center;
    display: flex;
    color: snow;
    padding: 20px;
    font-size: 20px;
    border-bottom:2px solid #444242;

    box-sizing: border-box;
}

.link{
    width: 20%;
}

.link a{
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}

.logo{
    width: 65%;
    justify-content: center;
    justify-items: center;
    display: flex;
    color: #8f4343;
}